.TodoList {
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 8rem));
  /* justify-items: center; */
  align-content: flex-start;
  margin: 0 auto;
  max-width: 80%;
}

@media screen and (max-width: 508px) {
  .TodoList {
    max-width: 75%;
  }
}
