.Overlay {
  background-color: rgb(32 30 30 / 76%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s all;
  animation: showOpacity 0.5s forwards ease-in-out;
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
