.CreateTodoButton {
  position: fixed;
  bottom: 1rem;
  z-index: 2;
  right: 1rem;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background-color: var(--color-good);
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  font-size: 2rem;
  color:aliceblue;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 99;
  transition: 0.5s all;
}

.FooterImage {
  max-width: 90%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%);
}

.CreateTodoButton:hover {
  background-color: var(--color-secondary);
}

.closeAnim {
  animation: rotate 1s forwards;
}

.closeAnimReverse {
  animation: rotateReverse 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -3px);
  }
  100% {
    transform: rotate(45deg) translate(-20px, 16px);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(45deg) translate(-20px, 16px);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -3px);
  }
}
