:root {
  --color-bg: #ECECEC;
  --color-primary: rgb(247, 247, 247);
  --color-black: #171515;
  --color-good: #4AC26E;
  --color-secondary: #31944E;
  --color-bad: #BC6B6B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black);
  padding-bottom: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
