.LoadingContainer {
  background: #bfbfbf;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.LoadingCheck, .LoadingDeleteIcon {
  width: 12px;
  height: 12px;
  background: aliceblue;
}

.TodoLoading {
  display: flex;
  flex-wrap: wrap;
  width: 156%;
}
